workingspace/deepLoading/scs_xsd.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iso="uri:iso.org:21090">
	<xs:import namespace="uri:iso.org:21090" schemaLocation="../ISO_21090/schemas/ISO_datatypes_Narrative.xsd"/>
	<xs:element name="BAER" type="BAER_type"/>
	<xs:simpleType name="stringtype">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="CDE_name">
		<xs:simpleContent>
			<xs:extension base="stringtype">
				<xs:attribute name="PUBLICID" fixed="2222323"/>
				<xs:attribute name="VERSION" fixed="1.0"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="REPORT_IDENTIFYING_INFORMATION_type">
		<xs:sequence>
			<xs:element name="aer__case_report_id_str" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__icsr_number" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__aer_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__report_type_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__report_type_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__report_type_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__response_to_fda_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__response_to_fda_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__response_to_fda_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__additional_document_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__additional_document_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer__additional_document_cd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESPONSIBLE_PARTY_IDENTIFYING_INFORMATION_MFR_OR_MAH_type">
		<xs:sequence>
			<xs:element name="aer_sender__organization_name" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__responsible_party_registration_id" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__responsible_party_reg_id_type_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__responsible_party_reg_id_type_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__responsible_party_reg_id_type_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__reporter_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__reporter_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__reporter_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__contact_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__contact_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__email_address" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__country_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__country_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__country_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__address1" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__address2" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__city_name" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__state_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__state_code" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__state" type="xs:string" minOccurs="0"/>
			<xs:element name="aer_sender__postal_cd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RESPONSIBLE_PARTY_MFR_OR_MAH_type">
		<xs:sequence>
			<xs:element name="RESPONSIBLE_PARTY_IDENTIFYING_INFORMATION_MFR_OR_MAH" type="RESPONSIBLE_PARTY_IDENTIFYING_INFORMATION_MFR_OR_MAH_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DOCUMENTS_AND_REFERENCES_IDENTIFYING_INFORMATION_type">
		<xs:sequence>
			<xs:element name="other_document__attached_document_id" type="xs:string" minOccurs="0"/>
			<xs:element name="other_document__attached_document_type_flags_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="other_document__attached_document_type_flags_code" type="xs:string" minOccurs="0"/>
			<xs:element name="other_document__attached_document_type_flags" type="xs:string" minOccurs="0"/>
			<xs:element name="other_document__attached_document_title" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DOCUMENTS_AND_REFERENCES_type">
		<xs:sequence>
			<xs:element name="DOCUMENTS_AND_REFERENCES_IDENTIFYING_INFORMATION" type="DOCUMENTS_AND_REFERENCES_IDENTIFYING_INFORMATION_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OTHER_REPORT_AND_REPORTER_IDENTIFYING_INFORMATION_type">
		<xs:sequence>
			<xs:element name="other_report__other_case_report_id_str" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OTHER_REPORTS_AND_REPORTERS_OF_THIS_INCIDENT_type">
		<xs:sequence>
			<xs:element name="OTHER_REPORT_AND_REPORTER_IDENTIFYING_INFORMATION" type="OTHER_REPORT_AND_REPORTER_IDENTIFYING_INFORMATION_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ADULTERATION_AND_DISPOSITION_DETAILS_type">
		<xs:sequence>
			<xs:element name="adulteration__adulteration_discovery_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__human_ae_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__human_ae_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__human_ae_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__human_ae_description" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__animal_ae_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__animal_ae_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__animal_ae_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__animal_ae_description" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_disc_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_disc_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_disc_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ADULTERATION_SITE_type">
		<xs:sequence>
			<xs:element name="adulteration__adulteration_site_prod_role_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_site_prod_role_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__adulteration_site_prod_role_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__organization_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__country_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__country_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__country_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__contact_title" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__contact_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__contact_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__email_address" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__address1" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__address2" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__city_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__state_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__state_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__state" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__postal_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__agent_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__agent_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__agent_voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__agent_other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__agent_fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration__agent_email_address" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ADULTERATION_AND_DISPOSITION_type">
		<xs:sequence>
			<xs:element name="PRODUCT_ADULTERATION_AND_DISPOSITION_DETAILS" type="PRODUCT_ADULTERATION_AND_DISPOSITION_DETAILS_type" minOccurs="0"/>
			<xs:element name="PRODUCT_ADULTERATION_SITE" type="PRODUCT_ADULTERATION_SITE_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ADULTERATION_DISCOVERY_SITE_DETAILS_type">
		<xs:sequence>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_uniq_id" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_uniq_id_type_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_uniq_id_type_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_uniq_id_type_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_prod_role_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_prod_role_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__adulteration_disc_site_prod_role_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__contact_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__contact_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__contact_title" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__email_address" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__address1" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__address2" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__organization_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__city_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__postal_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__state_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__state_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__state" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__country_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__country_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__country_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__agent_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__agent_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__agent_voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__agent_other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__agent_fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="adulteration_discovery_site__agent_email_address" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ADULTERATION_DISCOVERY_SITE_type">
		<xs:sequence>
			<xs:element name="PRODUCT_ADULTERATION_DISCOVERY_SITE_DETAILS" type="PRODUCT_ADULTERATION_DISCOVERY_SITE_DETAILS_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="REPORT_INFORMATION_type">
		<xs:sequence>
			<xs:element name="client__ip" type="xs:string" minOccurs="0"/>
			<xs:element name="client__agent" type="xs:string" minOccurs="0"/>
			<xs:element name="client__resolution" type="xs:string" minOccurs="0"/>
			<xs:element name="REPORT_IDENTIFYING_INFORMATION" type="REPORT_IDENTIFYING_INFORMATION_type" minOccurs="0"/>
			<xs:element name="RESPONSIBLE_PARTY_MFR_OR_MAH" type="RESPONSIBLE_PARTY_MFR_OR_MAH_type" minOccurs="0"/>
			<xs:element name="DOCUMENTS_AND_REFERENCES" type="DOCUMENTS_AND_REFERENCES_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OTHER_REPORTS_AND_REPORTERS_OF_THIS_INCIDENT" type="OTHER_REPORTS_AND_REPORTERS_OF_THIS_INCIDENT_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PRODUCT_ADULTERATION_AND_DISPOSITION" type="PRODUCT_ADULTERATION_AND_DISPOSITION_type" minOccurs="0"/>
			<xs:element name="PRODUCT_ADULTERATION_DISCOVERY_SITE" type="PRODUCT_ADULTERATION_DISCOVERY_SITE_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_INFORMATION_type">
		<xs:sequence>
			<xs:element name="ae_product__product_name" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_typ_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_typ_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_typ_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__use_code_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__use_code_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__use_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_imported_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_imported_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_imported_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__country_origin_country_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__country_origin_country_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__country_origin_country_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__port_of_entry_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__port_of_entry_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__port_of_entry_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_recalled_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_recalled_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__product_recalled_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__fda_recall_number" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__package_typ_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__package_typ_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__package_typ_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__size" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__size_uom_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__size_uom_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__size_uom" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__origin_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__origin_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__origin_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__distribution_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__distribution_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__distribution_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="ae_product__number_of_destination_sites" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_DETAILS_AS_DISTRIBUTED_type">
		<xs:sequence>
			<xs:element name="distributed_product__batch_or_lot_number" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__expiration_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__packaging_cat_flags_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__packaging_cat_flags_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__packaging_cat_flags" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__package_quantity" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__reportable_food_amount" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__reportable_food_amt_uom_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__reportable_food_amt_uom_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product__reportable_food_amt_uom" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distributed_product_code_system" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_DISTRIBUTION_ORGANIZATION_IDENTIFYING_INFORMATION_type">
		<xs:sequence>
			<xs:element name="distribution__type_flags_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__type_flags_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__type_flags" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__distribution_start_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__distribution_end_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__distributed_notification_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__distributed_notification_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__distributed_notification_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__distributed_notification_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__organization_name" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_title" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__contact_email_address" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__country_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__country_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__country_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__address1" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__address2" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__city_name" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__state_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__state_code" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__state" type="xs:string" minOccurs="0"/>
			<xs:element name="distribution__postal_cd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_DISTRIBUTION_type">
		<xs:sequence>
			<xs:element name="PRODUCT_DISTRIBUTION_ORGANIZATION_IDENTIFYING_INFORMATION" type="PRODUCT_DISTRIBUTION_ORGANIZATION_IDENTIFYING_INFORMATION_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DISTRIBUTED_PRODUCTS_type">
		<xs:sequence>
			<xs:element name="PRODUCT_DETAILS_AS_DISTRIBUTED" type="PRODUCT_DETAILS_AS_DISTRIBUTED_type" minOccurs="0"/>
			<xs:element name="PRODUCT_DISTRIBUTION" type="PRODUCT_DISTRIBUTION_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_DETAILS_BY_LOT_type">
		<xs:sequence>
			<xs:element name="product_lot_produced__batch_or_lot_number" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__expiration_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__package_quantity" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__reportable_food_amount" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__reportable_food_amt_uom_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__reportable_food_amt_uom_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__reportable_food_amt_uom" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_product_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_product_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_product_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposition_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposition_type_flags_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposition_type_flags_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposition_type_flags" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_package_quantity" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_amount" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_amount_uom_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_amount_uom_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_produced__disposed_amount_uom" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_LOTS_PRODUCED_type">
		<xs:sequence>
			<xs:element name="PRODUCT_DETAILS_BY_LOT" type="PRODUCT_DETAILS_BY_LOT_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_DETAILS_BY_LOT_RECEIVED_type">
		<xs:sequence>
			<xs:element name="product_lot_received__batch_or_lot_number" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__expiration_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__package_quantity" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__reportable_food_amount" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__reportable_food_amt_uom_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__reportable_food_amt_uom_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__reportable_food_amt_uom" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_product_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_product_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_product_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposition_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposition_type_flags_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposition_type_flags_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposition_type_flags" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_package_quantity" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_amount" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_amount_uom_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_amount_uom_code" type="xs:string" minOccurs="0"/>
			<xs:element name="product_lot_received__disposed_amount_uom" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_LOTS_RECEIVED_type">
		<xs:sequence>
			<xs:element name="PRODUCT_DETAILS_BY_LOT_RECEIVED" type="PRODUCT_DETAILS_BY_LOT_RECEIVED_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ORIGIN_ORGANIZATION_IDENTIFYING_INFORMATION_type">
		<xs:sequence>
			<xs:element name="origin__type_flags_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__type_flags_code" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__type_flags" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__received_notification_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__received_notification_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__received_notification_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__received_notification_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__origin_start_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__origin_end_dt" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__organization_name" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_first_name" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_last_name" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_title" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_voice_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_other_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_fax_telephone" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__contact_email_address" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__address1" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__address2" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__city_name" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__state_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__state_code" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__state" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__country_cd_valueset" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__country_cd_code" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__country_cd" type="xs:string" minOccurs="0"/>
			<xs:element name="origin__postal_cd" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRODUCT_ORIGIN_type">
		<xs:sequence>
			<xs:element name="PRODUCT_ORIGIN_ORGANIZATION_IDENTIFYING_INFORMATION" type="PRODUCT_ORIGIN_ORGANIZATION_IDENTIFYING_INFORMATION_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RELEVANT_PRODUCTS_type">
		<xs:sequence>
			<xs:element name="PRODUCT_INFORMATION" type="PRODUCT_INFORMATION_type" minOccurs="0"/>
			<xs:element name="DISTRIBUTED_PRODUCTS" type="DISTRIBUTED_PRODUCTS_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PRODUCT_LOTS_PRODUCED" type="PRODUCT_LOTS_PRODUCED_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PRODUCT_LOTS_RECEIVED" type="PRODUCT_LOTS_RECEIVED_type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PRODUCT_ORIGIN" type="PRODUCT_ORIGIN_type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BAER_type">
		<xs:sequence>
			<xs:element name="aer__sender" type="CDE_name" minOccurs="0"/>
			<xs:element name="aer__profile_id_valueset" type="iso:Uid" minOccurs="0"/>
			<xs:element name="REPORT_INFORMATION" type="REPORT_INFORMATION_type" minOccurs="0"/>
			<xs:element name="RELEVANT_PRODUCTS" type="RELEVANT_PRODUCTS_type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
