software/cmts/workingspace/hl7v3/multicacheschemas/PRPM_MT306810UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPM_MT306810UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  HTML To MIF markup: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Flat to Serialization Transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Fix Names Transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*     Package Id Conversion: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  HTML To MIF markup: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Flat to Serialization Transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Fix Names Transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: PRPM_MT306810UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="PRPM_MT306810UV01.AdministrativeGender">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.Confidence">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="INT" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.DOB">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.Jurisdiction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.Name">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="EN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.ProviderAddress">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="AD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.ProviderID">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.QueryByParameterPayload">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="queryId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modifyCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responseElementGroupId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="responseModalityCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responsePriorityCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="initialQuantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="initialQuantityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGender" type="PRPM_MT306810UV01.AdministrativeGender"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="confidence" type="PRPM_MT306810UV01.Confidence" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="dOB" type="PRPM_MT306810UV01.DOB" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="jurisdiction" type="PRPM_MT306810UV01.Jurisdiction" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="name" type="PRPM_MT306810UV01.Name" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="providerAddress" type="PRPM_MT306810UV01.ProviderAddress" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="providerID" type="PRPM_MT306810UV01.ProviderID" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="roleClass" type="PRPM_MT306810UV01.RoleClass" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="roleType" type="PRPM_MT306810UV01.RoleType" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sortControl" type="PRPM_MT306810UV01.SortControl" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.RoleClass">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.RoleType">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPM_MT306810UV01.SortControl">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="elementName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directionCode" type="CS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
</xs:schema>