software/cmts/workingspace/hl7v3/multicacheschemas/QUCR_HD730100UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type QUCR_HD730100UV01.
* Source information:
*     Rendered by: RoseTree 4.2.34
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  HTML To MIF markup: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Flat to Serialization Transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Fix Names Transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
*     Package Id Conversion: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  HTML To MIF markup: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Flat to Serialization Transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Fix Names Transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD730100UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT240000UV01.xsd"/>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsCarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsFinancialContract">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassFinancialContract" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="device" type="QUCR_HD730100UV01.Device" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="QUCR_HD730100UV01.Performer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="QUCR_HD730100UV01.Author" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="QUCR_HD730100UV01.AdjudResultsGroupLocation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reference1" type="QUCR_HD730100UV01.AdjudResultsGroupRef" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reference2" type="QUCR_HD730100UV01.AdjudResultsRef" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="QUCR_HD730100UV01.PertinentInformation2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="QUCR_HD730100UV01.AdjudResultsGroupComponent"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="preconditionFor" type="QUCR_HD730100UV01.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsGroupComponent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsGroup" type="QUCR_HD730100UV01.AdjudResultsGroup"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsGroupLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240000UV01.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsGroupRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsFinancialContract"
                     type="QUCR_HD730100UV01.AdjudResultsFinancialContract"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsInvoiceElement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsInvoiceElementRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsProviderRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicatedInvoiceElementGroup"
                     type="QUCR_HD730100UV01.AdjudicatedInvoiceElementGroup"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsSendingAppDevice">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassDevice" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudResultsSendingAppRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="playingAdjudResultsSendingAppDevice"
                     type="QUCR_HD730100UV01.AdjudResultsSendingAppDevice"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicatedInvoiceAuthor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="adjudicatorRole" type="QUCR_HD730100UV01.AdjudicatorRole" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicatedInvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="QUCR_HD730100UV01.AdjudicatedInvoiceAuthor" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="predecessor" type="QUCR_HD730100UV01.AdjudicatedInvoicePredecessor"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="outcomeOf" type="QUCR_HD730100UV01.AdjudicatedResultOutcome"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicatedInvoicePredecessor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicatedInvoiceElementGroup"
                     type="QUCR_HD730100UV01.AdjudicatedInvoiceElementGroup"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipSucceeds" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicatedResultOutcome">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResult" type="QUCR_HD730100UV01.AdjudicationResult"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipOutcome" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicationResult">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="reference" type="QUCR_HD730100UV01.AdjudicationResultReference"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassFinancialAdjudication" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicationResultReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="invoiceElementGroup" type="QUCR_HD730100UV01.InvoiceElementGroup"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.AdjudicatorRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsCarrierRole" type="QUCR_HD730100UV01.AdjudResultsCarrierRole"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsSendingAppRole"
                     type="QUCR_HD730100UV01.AdjudResultsSendingAppRole"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.InvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsProviderRole"
                     type="QUCR_HD730100UV01.AdjudResultsProviderRole"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsInvoiceElement"
                     type="QUCR_HD730100UV01.AdjudResultsInvoiceElement"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD730100UV01.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsInvoiceElementRef"
                     type="QUCR_HD730100UV01.AdjudResultsInvoiceElementRef"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
   </xs:complexType>
</xs:schema>