caadapter/etc/schemas/multicacheschemas/COCT_HD240000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_HD240000UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Base transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Package Id Conversion: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  HTML To MIF markup: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
 Flat to Serialization Transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
 Fix Names Transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Base transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Package Id Conversion: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
*     Package Id Conversion: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Base transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Package Id Conversion: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  HTML To MIF markup: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
 Flat to Serialization Transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
 Fix Names Transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Base transform: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
  Package Id Conversion: $Id: COCT_HD240000UV01.xsd,v 1.1 2007-04-03 16:10:37 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT710000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
   <xs:complexType name="COCT_HD240000UV01.ServiceDeliveryLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCT_MT710000UV01.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
   </xs:complexType>
</xs:schema>