caadapter/etc/schemas/multicacheschemas/COCT_MT190000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT190000UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  HTML To MIF markup: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Flat to Serialization Transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Fix Names Transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
*     Package Id Conversion: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  HTML To MIF markup: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Flat to Serialization Transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Fix Names Transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: COCT_MT190000UV01.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT110200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT110100UV01.xsd"/>
   <xs:complexType name="COCT_MT190000UV01.Credit">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110200UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT190000UV01.Debit">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110100UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DEBIT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT190000UV01.FinancialTransaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="amt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="creditExchangeRateQuantity" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="debitExchangeRateQuantity" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="COCT_MT190000UV01.Reason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="credit" type="COCT_MT190000UV01.Credit" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="debit" type="COCT_MT190000UV01.Debit" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT190000UV01.InvoiceElement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pointsNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT190000UV01.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="invoiceElement" type="COCT_MT190000UV01.InvoiceElement" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
   </xs:complexType>
</xs:schema>