caadapter/etc/schemas/multicacheschemas/FIAB_MT010101UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type FIAB_MT010101UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  HTML To MIF markup: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Flat to Serialization Transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Fix Names Transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
*     Package Id Conversion: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  HTML To MIF markup: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Flat to Serialization Transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Fix Names Transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: FIAB_MT010101UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT030200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT010000UV01.xsd"/>
   <xs:complexType name="FIAB_MT010101UV01.Account">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="balanceAmt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="currencyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interestRateQuantity" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="allowedBalanceQuantity" type="IVL_MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="FIAB_MT010101UV01.Subject" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="holder" type="FIAB_MT010101UV01.Holder" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="predecessor" type="FIAB_MT010101UV01.Predecessor" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="coverage" type="FIAB_MT010101UV01.Coverage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="component" type="FIAB_MT010101UV01.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertainsTo" type="FIAB_MT010101UV01.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Beneficiary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientRole" type="FIAB_MT010101UV01.PatientRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="BEN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.CarrierOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.CarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="underwritingCarrierOrganization" type="FIAB_MT010101UV01.CarrierOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="UNDWRT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="FIAB_MT010101UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Coverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="insurancePolicy" type="FIAB_MT010101UV01.InsurancePolicy" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COVBY"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.GuarantorLanguage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.GuarantorOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="1"/>
         <xs:element name="guarantorLanguage" type="FIAB_MT010101UV01.GuarantorLanguage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.GuarantorPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="guarantorLanguage" type="FIAB_MT010101UV01.GuarantorLanguage" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.GuarantorRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guarantorPerson" type="FIAB_MT010101UV01.GuarantorPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="guarantorOrganization" type="FIAB_MT010101UV01.GuarantorOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="promisorPerson" type="COCT_MT030200UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUAR"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Holder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="guarantorRole" type="FIAB_MT010101UV01.GuarantorRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="HLD"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.InsurancePolicy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="beneficiary" type="FIAB_MT010101UV01.Beneficiary" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="FIAB_MT010101UV01.PolicyUnderwriter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="COV"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.OldAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="allowedBalanceQuantity" type="IVL_MO" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.PatientRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="patientPerson" type="COCT_MT030200UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf" type="FIAB_MT010101UV01.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.PolicyUnderwriter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="carrierRole" type="FIAB_MT010101UV01.CarrierRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Predecessor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="oldAccount" type="FIAB_MT010101UV01.OldAccount" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUCC"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientRole" type="FIAB_MT010101UV01.PatientRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="FIAB_MT010101UV01.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
</xs:schema>