caadapter/etc/schemas/multicacheschemas/FIAB_HD020100UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type FIAB_HD020100UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  HTML To MIF markup: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Flat to Serialization Transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Fix Names Transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
*     Package Id Conversion: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  HTML To MIF markup: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Flat to Serialization Transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Fix Names Transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FIAB_HD020100UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT280000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT490000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT290000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT300000.xsd"/>
   <xs:include schemaLocation="COCT_MT310000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT600000.xsd"/>
   <xs:include schemaLocation="COCT_MT030200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT010000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT110100UV01.xsd"/>
   <xs:complexType name="FIAB_HD020100UV01.Account">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="balanceAmt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="currencyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interestRateQuantity" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="allowedBalanceQuantity" type="IVL_MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="FIAB_HD020100UV01.Subject" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="component" type="FIAB_HD020100UV01.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertainsTo" type="FIAB_HD020100UV01.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="FIAB_HD020100UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.Credit">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110100UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.FinancialTransaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="amt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="FIAB_HD020100UV01.FinancialTransactionReason" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="reference" type="FIAB_HD020100UV01.Reference" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="posting" type="FIAB_HD020100UV01.Posting" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="credit" type="FIAB_HD020100UV01.Credit" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.FinancialTransactionReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="invoiceElement" type="FIAB_HD020100UV01.InvoiceElement" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.InvoiceElement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pointsNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reason" type="FIAB_HD020100UV01.InvoiceElementReason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.InvoiceElementReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="billableClinicalProduct" type="COCT_MT490000UV01.BillableClinicalProduct" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="billableClinicalService" type="COCT_MT290000UV01.BillableClinicalService" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supplyEvent1" type="COCT_MT300000.SupplyEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="accomodationSupplied" type="COCT_MT310000UV01.AccomodationSupplied" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supplyEvent2" type="COCT_MT600000.SupplyEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="crossReference" type="COCT_MT280000UV01.CrossReference" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.PatientRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="patientPerson" type="COCT_MT030200UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.Posting">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="FIAB_HD020100UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPosting" use="required"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="referencedFinancialTransaction" type="FIAB_HD020100UV01.ReferencedFinancialTransaction" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.ReferencedFinancialTransaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FIAB_HD020100UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientRole" type="FIAB_HD020100UV01.PatientRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
</xs:schema>