caadapter/etc/schemas/multicacheschemas/FICR_MT510201UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type FICR_MT510201UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  HTML To MIF markup: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Fix Names Transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
*     Package Id Conversion: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  HTML To MIF markup: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Fix Names Transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT510201UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT110200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT110100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT680000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT320000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT260003.xsd"/>
   <xs:complexType name="FICR_MT510201UV01.AdditionalPertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicationResultInformation" type="FICR_MT510201UV01.AdjudicationResultInformation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="adjudicationResultReason" type="FICR_MT510201UV01.AdjudicationResultReason" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatedInvoiceAuthor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="modeCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="adjudicatorRole" type="FICR_MT510201UV01.AdjudicatorRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatedInvoiceCoverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="policyOrAccount" type="FICR_MT510201UV01.PolicyOrAccount" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COVBY"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatedInvoiceElementComponent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicatedInvoiceElementDetail" type="FICR_MT510201UV01.AdjudicatedInvoiceElementDetail" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="adjudicatedInvoiceElementGroup" type="FICR_MT510201UV01.AdjudicatedInvoiceElementGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatedInvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="outcomeOf" type="FICR_MT510201UV01.AdjudicatedResultOutcome" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatedInvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="FICR_MT510201UV01.AdjudicatedInvoiceAuthor" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reference" type="FICR_MT510201UV01.Reference2" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="coverage" type="FICR_MT510201UV01.AdjudicatedInvoiceCoverage" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component" type="FICR_MT510201UV01.AdjudicatedInvoiceElementComponent" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatedResultOutcome">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResult" type="FICR_MT510201UV01.AdjudicationResult" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipOutcome" use="optional" default="OUTC"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationObservationReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="detectedMedicationIssue" type="COCT_MT260003.DetectedMedicationIssue" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationResult">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="trigger" type="FICR_MT510201UV01.AdjudicationResultTrigger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="FICR_MT510201UV01.AdditionalPertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reference" type="FICR_MT510201UV01.AdjudicationResultReference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="FICR_MT510201UV01.AdjudicationObservationReason" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ADJUD"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationResultInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="trigger" type="FICR_MT510201UV01.Trigger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationResultReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="trigger" type="FICR_MT510201UV01.Trigger" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationResultReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="invoiceElementDetail" type="FICR_MT510201UV01.InvoiceElementDetail" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="invoiceElementGroup" type="FICR_MT510201UV01.InvoiceElementGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationResultRequiredAct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="directTarget" type="FICR_MT510201UV01.RequiredActDirectTarget" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicationResultTrigger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResultRequiredAct" type="FICR_MT510201UV01.AdjudicationResultRequiredAct" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatorBillingTaxAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatorPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="name" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.AdjudicatorRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="directAuthority" type="FICR_MT510201UV01.DirectAuthorityOver" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.Allowable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="netAmt" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.CarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="UNDWRT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.CoveredPartyAsPatient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="indirectAuthority" type="FICR_MT510201UV01.IndirectAuthorithyOver" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="COVPTY"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.DirectAuthorityOver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="insuranceCarrierRole" type="FICR_MT510201UV01.InsuranceCarrierRole" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="DIRAUTH"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.Form">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.FormRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="playingForm" type="FICR_MT510201UV01.Form" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.Holder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.IndirectAuthorithyOver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="personalRelationship" type="FICR_MT510201UV01.PersonalRelationship" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="RoleLinkType" use="optional" fixed="INDAUTH"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.InsuranceCarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.InvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="PRP"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.InvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="PRP"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PaymentIntent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="statusCode" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="amt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="FICR_MT510201UV01.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="credit" type="FICR_MT510201UV01.PaymentIntentPayee" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="debit" type="FICR_MT510201UV01.PaymentIntentPayor" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonOf" type="FICR_MT510201UV01.PaymentIntentReason" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
      <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PaymentIntentPayee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110200UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PaymentIntentPayor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110100UV01.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DEBIT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PaymentIntentReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicatedInvoiceElementGroup" type="FICR_MT510201UV01.AdjudicatedInvoiceElementGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="optional" default="RSON"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicatorBillingTaxAccount" type="FICR_MT510201UV01.AdjudicatorBillingTaxAccount" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PolicyBeneficiary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coveredPartyAsPatient" type="FICR_MT510201UV01.CoveredPartyAsPatient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="BEN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PolicyHolder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PolicyHolderOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="addr" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PolicyHolderPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="birthTime" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PolicyOrAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="beneficiary" type="FICR_MT510201UV01.PolicyBeneficiary" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="FICR_MT510201UV01.PolicyUnderwriter" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="COV"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.PolicyUnderwriter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="carrierRole" type="FICR_MT510201UV01.CarrierRole" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.Reference2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicatedInvoiceElementGroup" type="COCT_MT680000UV01.AdjudicatedInvoiceElementGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.Reference4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.RequiredActDirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="formRole" type="FICR_MT510201UV01.FormRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDirect" use="optional" default="DIR"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT510201UV01.Trigger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResultRequiredAct" type="FICR_MT510201UV01.AdjudicationResultRequiredAct" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
   </xs:complexType>
</xs:schema>