caadapter/etc/schemas/multicacheschemas/FICR_MT700101UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type FICR_MT700101UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  HTML To MIF markup: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Fix Names Transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
*     Package Id Conversion: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  HTML To MIF markup: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
 Fix Names Transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Base transform: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT700101UV01.xsd,v 1.1 2007-04-03 16:10:34 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT240000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT110200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT110100UV01.xsd"/>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsCarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsFinancialContract">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassFinancialContract" use="optional" default="FCNTRCT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="device" type="FICR_MT700101UV01.Device" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performer" type="FICR_MT700101UV01.Performer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="FICR_MT700101UV01.Author" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="FICR_MT700101UV01.AdjudResultsGroupLocation" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="FICR_MT700101UV01.PertinentInformation" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reference" type="FICR_MT700101UV01.AdjudResultsGroupRef" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="component" type="FICR_MT700101UV01.AdjudResultsGroupComponent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="preconditionFor" type="FICR_MT700101UV01.Precondition" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsGroupComponent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsGroup" type="FICR_MT700101UV01.AdjudResultsGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsGroupLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240000UV01.ServiceDeliveryLocation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsGroupRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsFinancialContract" type="FICR_MT700101UV01.AdjudResultsFinancialContract" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsInvoiceElement">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsInvoiceElementRef">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="INVE"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsProviderRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsSendingAppDevice">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassDevice" use="optional" default="DEV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.AdjudResultsSendingAppRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="playingAdjudResultsSendingAppDevice" type="FICR_MT700101UV01.AdjudResultsSendingAppDevice" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsCarrierRole" type="FICR_MT700101UV01.AdjudResultsCarrierRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsSendingAppRole" type="FICR_MT700101UV01.AdjudResultsSendingAppRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="optional" default="DEV"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.Payment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="activityTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="amt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="summary" type="FICR_MT700101UV01.PaymentSummary" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="credit" type="FICR_MT700101UV01.PaymentPayee" minOccurs="1" maxOccurs="1"/>
         <xs:element name="debit" type="FICR_MT700101UV01.PaymentPayor" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="XACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.PaymentPayee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110200UV01.Account" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CREDIT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.PaymentPayor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110100UV01.Account" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DEBIT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.PaymentSummary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsGroup" type="FICR_MT700101UV01.AdjudResultsGroup" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUMM"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsProviderRole" type="FICR_MT700101UV01.AdjudResultsProviderRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsInvoiceElement" type="FICR_MT700101UV01.AdjudResultsInvoiceElement" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT700101UV01.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudResultsInvoiceElementRef" type="FICR_MT700101UV01.AdjudResultsInvoiceElementRef" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
   </xs:complexType>
</xs:schema>