caadapter/etc/schemas/multicacheschemas/PORT_MT030001UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified">
	<!--
*****************************************************************************************************************
* XML schema for message type PORT_HD030001UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Base transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Package Id Conversion: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  HTML To MIF markup: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
 Flat to Serialization Transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
 Fix Names Transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Base transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Package Id Conversion: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
*     Package Id Conversion: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xs:annotation>
		<xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Base transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Package Id Conversion: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  HTML To MIF markup: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
 Flat to Serialization Transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
 Fix Names Transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Base transform: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
  Package Id Conversion: $Id: PORT_MT030001UV01.xsd,v 1.1 2007-04-03 16:10:39 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
	<xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
	<!-- umkis inserted -->
	<xs:element name="ClinicalTrial" type="PORT_HD030001UV01.ClinicalTrial"/>
	<!-- umkis -->
	<xs:complexType name="PORT_HD030001UV01.Accession">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="activityTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="author" type="PORT_HD030001UV01.Author" nillable="true"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACSN"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.AgeAtVisit">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="PQ"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Agent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="representedLaboratory" type="PORT_HD030001UV01.Laboratory" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassAgent" use="optional" default="AGNT"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Author">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="agent" type="PORT_HD030001UV01.Agent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.BaseBattery">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component5" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.BaseSpecimen">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="specimenNaturalMaterial" type="PORT_HD030001UV01.NaturalMaterial" nillable="true" minOccurs="0"/>
			<xs:element name="subjectOf1" type="PORT_HD030001UV01.Subject3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="subjectOf2" type="PORT_HD030001UV01.Subject4" nillable="true" minOccurs="0"/>
			<xs:element name="productOf" type="PORT_HD030001UV01.Product" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassSpecimen" use="optional" default="SPEC"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.BaseSpecimenDefinition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="subject" type="PORT_HD030001UV01.Subject2" nillable="true" maxOccurs="unbounded"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.BaseUnitaryResult">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="statusCode" type="CS"/>
			<xs:element name="activityTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonCode" type="CV" minOccurs="0"/>
			<xs:element name="value" type="PQ" minOccurs="0"/>
			<xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="methodCode" type="CV" minOccurs="0"/>
			<xs:element name="performer" type="PORT_HD030001UV01.Performer" nillable="true"/>
			<xs:element name="pertinentInformation1" type="PORT_HD030001UV01.PertinentInformation1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="pertinentInformation2" type="PORT_HD030001UV01.PertinentInformation2" nillable="true" minOccurs="0"/>
			<xs:element name="referenceRange" type="PORT_HD030001UV01.ReferenceRange" nillable="true" minOccurs="0"/>
			<xs:element name="subjectOf" type="PORT_HD030001UV01.Subject5" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ClinicalTrial">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="title" type="ST" minOccurs="0"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component10" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CLNTRL"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="pauseQuantity" type="PQ" minOccurs="0"/>
			<xs:element name="protocolStudyEvent" type="PORT_HD030001UV01.ProtocolStudyEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component10">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="trialAtSite" type="PORT_HD030001UV01.TrialAtSite" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="referenceEvent" type="PORT_HD030001UV01.ReferenceEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="baseSpecimenDefinition" type="PORT_HD030001UV01.BaseSpecimenDefinition" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="baseBattery" type="PORT_HD030001UV01.BaseBattery" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="baseUnitaryResult" type="PORT_HD030001UV01.BaseUnitaryResult" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component6">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="accession" type="PORT_HD030001UV01.Accession" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component7">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="studyEvent" type="PORT_HD030001UV01.StudyEvent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component8">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="subjectAssignment" type="PORT_HD030001UV01.SubjectAssignment" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Component9">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="investigatorAtSite" type="PORT_HD030001UV01.InvestigatorAtSite" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ContainerRegistration">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="effectiveTime" type="TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CONTREG"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Definition">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="protocolSpecimenCollection" type="PORT_HD030001UV01.ProtocolSpecimenCollection" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.EnrolledSubject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="subjectPerson" type="PORT_HD030001UV01.Person" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="RESBJ"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.FastingStatus">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="ST"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.InvestigatorAtSite">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="responsibleParty" type="PORT_HD030001UV01.ResponsibleParty" nillable="true" minOccurs="0"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component8" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CLNTRL"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Laboratory">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="name" type="TN" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Location">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="trialSite" type="PORT_HD030001UV01.TrialSite" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.NamedPerson">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="TN" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.NaturalMaterial">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Performer">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="agent" type="PORT_HD030001UV01.Agent" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="optional" default="PRF"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Person">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="name" type="PN" minOccurs="0"/>
			<xs:element name="administrativeGenderCode" type="CV" minOccurs="0"/>
			<xs:element name="birthTime" type="TS" minOccurs="0"/>
			<xs:element name="raceCode" type="CV" minOccurs="0"/>
			<xs:element name="asScreeningSubject" type="PORT_HD030001UV01.ScreeningSubject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asSpareSubject" type="PORT_HD030001UV01.SpareSubject" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.PertinentInformation">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="ageAtVisit" type="PORT_HD030001UV01.AgeAtVisit" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.PertinentInformation1">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="testComment" type="PORT_HD030001UV01.TestComment" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.PertinentInformation2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="toxicityGrade" type="PORT_HD030001UV01.ToxicityGrade" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.PertinentInformation3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="fastingStatus" type="PORT_HD030001UV01.FastingStatus" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Product">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="specimenCollectionProcedure" type="PORT_HD030001UV01.SpecimenCollectionProcedure" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="PRD"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ProtocolSpecimenCollection">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="componentOf" type="PORT_HD030001UV01.Component1" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="PROC"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ProtocolStudyEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component2" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CLNTRL"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Range">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="value" type="PQ"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.RecordTarget">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:choice>
				<xs:element name="enrolledSubject" type="PORT_HD030001UV01.EnrolledSubject" nillable="true"/>
				<xs:element name="screeningSubject" type="PORT_HD030001UV01.ScreeningSubject" nillable="true"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ReferenceEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ReferenceRange">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="range" type="PORT_HD030001UV01.Range" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFV"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ReportToSite">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassControlAct" use="optional" default="CACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ResponsibleParty">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="trialInvestigator" type="PORT_HD030001UV01.TrialInvestigator" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ScreeningSubject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="subjectPerson" type="PORT_HD030001UV01.Person" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="RESBJ"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ScreeningSubject2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="RESBJ"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.SpareSubject">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
			<xs:element name="code" type="CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="RESBJ"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.SpecimenCollectionProcedure">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="effectiveTime" type="IVL_TS"/>
			<xs:element name="definition" type="PORT_HD030001UV01.Definition" nillable="true" minOccurs="0"/>
			<xs:element name="pertinentInformation1" type="PORT_HD030001UV01.PertinentInformation3" nillable="true" minOccurs="0"/>
			<xs:element name="pertinentInformation2" type="PORT_HD030001UV01.PertinentInformation" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="PROC"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.SpecimenComment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="value" type="ED"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.StudyEvent">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CV"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component6" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CTTEVENT"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Subject2">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="baseSpecimen" type="PORT_HD030001UV01.BaseSpecimen" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Subject3">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="specimenComment" type="PORT_HD030001UV01.SpecimenComment" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Subject4">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="containerRegistration" type="PORT_HD030001UV01.ContainerRegistration" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="OP"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.Subject5">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="reportToSite" type="PORT_HD030001UV01.ReportToSite" nillable="true"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.SubjectAssignment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="recordTarget" type="PORT_HD030001UV01.RecordTarget" nillable="true"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component7" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CLNTRL"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.TestComment">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="text" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.ToxicityGrade">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="code" type="CD"/>
			<xs:element name="value" type="CV"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.TrialAtSite">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="location" type="PORT_HD030001UV01.Location" nillable="true"/>
			<xs:element name="component" type="PORT_HD030001UV01.Component9" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" fixed="CLNTRL"/>
		<xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.TrialInvestigator">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II" minOccurs="0"/>
			<xs:element name="investigatorNamedPerson" type="PORT_HD030001UV01.NamedPerson" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CRINV"/>
	</xs:complexType>
	<xs:complexType name="PORT_HD030001UV01.TrialSite">
		<xs:sequence>
			<xs:group ref="InfrastructureRootElements"/>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attributeGroup ref="InfrastructureRootAttributes"/>
		<xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
	</xs:complexType>
</xs:schema>
