caadapter/etc/schemas/multicacheschemas/PRPA_MT201102UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT201102UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  HTML To MIF markup: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Flat to Serialization Transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Fix Names Transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
*     Package Id Conversion: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  HTML To MIF markup: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Flat to Serialization Transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
 Fix Names Transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Base transform: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
  Package Id Conversion: $Id: PRPA_MT201102UV01.xsd,v 1.1 2007-04-03 16:10:38 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT150003UV03.xsd"/>
   <xs:include schemaLocation="COCT_MT150001UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT500000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT150002UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT030202UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT030000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT710000UV01.xsd"/>
   <xs:complexType name="PRPA_MT201102UV01.BirthPlace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCT_MT710000UV01.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="BIRTHPL"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Citizen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="politicalOrganization" type="COCT_MT150001UV01.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="CIT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="contactOrganization" type="COCT_MT150002UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="contactPerson" type="COCT_MT030202UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="optional" default="CON"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Employment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobTitleName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="jobClassCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="employerOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="optional" default="EMP"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Entity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Guarantor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guarantorOrganization" type="COCT_MT150002UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="guarantorPerson" type="COCT_MT030202UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUAR"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Guardian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="guardianOrganization" type="COCT_MT150002UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="guardianPerson" type="COCT_MT030202UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="GUARD"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.HealthCareProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="healthCareProviderPerson" type="PRPA_MT201102UV01.ProviderPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="healthCareProviderOrganization" type="PRPA_MT201102UV01.ProviderOrganization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="issuingOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PROV"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.LanguageCommunication">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="languageCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Member">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="groupEntity" type="PRPA_MT201102UV01.Entity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="MBR"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.NonPersonLivingSubject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="strainText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="genderStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asOtherIDs" type="PRPA_MT201102UV01.OtherIDs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPatientOfOtherProvider" type="PRPA_MT201102UV01.PatientOfOtherProvider" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asMember" type="PRPA_MT201102UV01.Member" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asCoveredParty" type="COCT_MT500000UV02.CoveredParty" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="PRPA_MT201102UV01.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="guardian" type="PRPA_MT201102UV01.Guardian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="guarantor" type="PRPA_MT201102UV01.Guarantor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="personalRelationship" type="PRPA_MT201102UV01.PersonalRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthPlace" type="PRPA_MT201102UV01.BirthPlace" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="optional" default="NLIV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="COCT_MT150002UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patientPerson" type="PRPA_MT201102UV01.Person" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="patientNonPersonLivingSubject" type="PRPA_MT201102UV01.NonPersonLivingSubject" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="providerOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.PatientCareProvision">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="responsibleParty" type="PRPA_MT201102UV01.ResponsibleParty2" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="PCPR"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.PatientOfOtherProvider">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="providerOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf" type="PRPA_MT201102UV01.Subject2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maritalStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="educationLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="disabilityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="livingArrangementCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asOtherIDs" type="PRPA_MT201102UV01.OtherIDs" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPatientOfOtherProvider" type="PRPA_MT201102UV01.PatientOfOtherProvider" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asEmployment" type="PRPA_MT201102UV01.Employment" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asCitizen" type="PRPA_MT201102UV01.Citizen" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asStudent" type="PRPA_MT201102UV01.Student" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asMember" type="PRPA_MT201102UV01.Member" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asCoveredParty" type="COCT_MT500000UV02.CoveredParty" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="contactParty" type="PRPA_MT201102UV01.ContactParty" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="guardian" type="PRPA_MT201102UV01.Guardian" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="guarantor" type="PRPA_MT201102UV01.Guarantor" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="personalRelationship" type="PRPA_MT201102UV01.PersonalRelationship" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="birthPlace" type="PRPA_MT201102UV01.BirthPlace" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCommunication" type="PRPA_MT201102UV01.LanguageCommunication" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="relationshipHolder1" type="COCT_MT030000UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="relationshipHolder2" type="COCT_MT030000UV01.NonPersonLivingSubject" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PRS"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.ProviderEmployer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="employerOrganization" type="COCT_MT150001UV01.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassEmployee" use="optional" default="EMP"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.ProviderOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.ProviderPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asProviderEmployer" type="PRPA_MT201102UV01.ProviderEmployer" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.ResponsibleParty2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareProvider" type="PRPA_MT201102UV01.HealthCareProvider" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Student">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="schoolOrganization" type="COCT_MT150003UV03.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="STD"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT201102UV01.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patientCareProvision" type="PRPA_MT201102UV01.PatientCareProvision" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
</xs:schema>