caadapter/etc/schemas/multicacheschemas/RCMR_MT000002UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type RCMR_MT000002UV01.
* Source information:
*     Rendered by: RoseTree 3.0.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  HTML To MIF markup: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Flat to Serialization Transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Fix Names Transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
*     Package Id Conversion: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  HTML To MIF markup: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Flat to Serialization Transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
 Fix Names Transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Base transform: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
  Package Id Conversion: $Id: RCMR_MT000002UV01.xsd,v 1.1 2007-04-03 16:10:33 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:complexType name="RCMR_MT000002UV01.AssignedAuthor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="assignedPerson" type="RCMR_MT000002UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="assignedAuthoringDevice" type="RCMR_MT000002UV01.AuthoringDevice" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="representedOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.AssignedCustodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="representedOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="optional" default="ASSIGNED"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Authenticator">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUTHEN"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="assignedAuthor" type="RCMR_MT000002UV01.AssignedAuthor" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.AuthoringDevice">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="softwareName" type="SC" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassDevice" use="optional" default="DEV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.ClinicalDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="completionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="storageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="copyTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="RCMR_MT000002UV01.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="RCMR_MT000002UV01.RecordTarget" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="responsibleParty" type="RCMR_MT000002UV01.ResponsibleParty" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="RCMR_MT000002UV01.Author1" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="RCMR_MT000002UV01.DataEnterer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="custodian" type="RCMR_MT000002UV01.Custodian" nillable="true" minOccurs="1" maxOccurs="1"/>
         <xs:element name="informationRecipient" type="RCMR_MT000002UV01.InformationRecipient" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="legalAuthenticator" type="RCMR_MT000002UV01.LegalAuthenticator" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="authenticator" type="RCMR_MT000002UV01.Authenticator" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="RCMR_MT000002UV01.Participant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="inFulfillmentOf" type="RCMR_MT000002UV01.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="documentationOf" type="RCMR_MT000002UV01.DocumentationOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="relatedDocument" type="RCMR_MT000002UV01.RelatedDocument2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="RCMR_MT000002UV01.Component1" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClinicalDocument" use="optional" default="DOCCLIN"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounterEvent" type="RCMR_MT000002UV01.EncounterEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Custodian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedCustodian" type="RCMR_MT000002UV01.AssignedCustodian" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CST"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ENT"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.DocumentationOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="event" type="RCMR_MT000002UV01.Event" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="DOC"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.EncounterEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="encounterPerformer" type="RCMR_MT000002UV01.EncounterPerformer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="RCMR_MT000002UV01.Location" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.EncounterPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_EncounterPerformerParticipation" use="required"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Event">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="RCMR_MT000002UV01.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.InformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="intendedRecipient" type="RCMR_MT000002UV01.IntendedRecipient" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_InformationRecipient" use="required"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="order" type="RCMR_MT000002UV01.Order" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="optional" default="FLFS"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.IntendedRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="informationRecipient" type="RCMR_MT000002UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="receivedOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="x_InformationRecipientRole" use="required"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.LegalAuthenticator">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="LA"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareFacility" type="RCMR_MT000002UV01.HealthCareFacility" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Order">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.ParentDocument">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="setId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="versionNumber" type="INT" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClinicalDocument" use="optional" default="DOCCLIN"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participatingEntity" type="RCMR_MT000002UV01.ParticipatingEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.ParticipatingEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="associatedPerson" type="RCMR_MT000002UV01.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssociative" use="required"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="optional" default="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.RelatedDocument2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="parentDocument" type="RCMR_MT000002UV01.ParentDocument" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipDocument" use="required"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectRole" type="RCMR_MT000002UV01.SubjectRole" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.SubjectPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="RCMR_MT000002UV01.SubjectRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="RCMR_MT000002UV01.SubjectPerson" nillable="true" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="x_DocumentSubject" use="required"/>
   </xs:complexType>
</xs:schema>