caadapter/etc/schemas/multicacheschemas/UUDD_MT999999.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type UUDD_MT999999.
* Source information:
*     Rendered by: RoseTree 2.9.68
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  HTML To MIF markup: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Flat to Serialization Transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Fix Names Transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
*     Package Id Conversion: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  HTML To MIF markup: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Flat to Serialization Transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
 Fix Names Transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Base transform: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
  Package Id Conversion: $Id: UUDD_MT999999.xsd,v 1.1 2007-04-03 16:10:35 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
   <xs:include schemaLocation="../coreschemas/voc.xsd"/>
   <xs:element name="information" type="UUDD_MT999999.ControlAct"/>
   <xs:complexType name="UUDD_MT999999.InfrastructureRoot.typeId">
      <xs:complexContent>
         <xs:restriction base="II">
            <xs:attribute name="root" type="uid" fixed="2.16.840.1.113883.1.3" use="required"/>
            <xs:attribute name="extension" type="st" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.InfrastructureRoot.templateId">
      <xs:complexContent>
         <xs:extension base="II">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Act">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Container">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="stabilityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capacityQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="heightQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="diameterQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="separatorTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="barrierDeltaQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="bottomDeltaQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asRole" type="UUDD_MT999999.Role2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="role" type="UUDD_MT999999.Role3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassContainer" use="optional" default="CONT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.ControlAct">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="UUDD_MT999999.Subject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassControlAct" use="optional" default="CACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Encounter">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="admissionReferralSourceCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dischargeDispositionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preAdmitTestInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialCourtesiesCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specialArrangementCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Entity">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asRole" type="UUDD_MT999999.Role2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="role" type="UUDD_MT999999.Role3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="optional" default="ENT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.ManufacturedMaterial">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="stabilityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asRole" type="UUDD_MT999999.Role2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="role" type="UUDD_MT999999.Role3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="optional" default="MMAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Material">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asRole" type="UUDD_MT999999.Role2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="role" type="UUDD_MT999999.Role3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="optional" default="MAT"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Observation">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Organization">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="standardIndustryClassCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="patient" type="UUDD_MT999999.Patient3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Participant1">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="UUDD_MT999999.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="UUDD_MT999999.Role" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Participant2">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="performInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="UUDD_MT999999.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="UUDD_MT999999.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="UUDD_MT999999.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="UUDD_MT999999.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="UUDD_MT999999.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="UUDD_MT999999.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="workingList" type="UUDD_MT999999.WorkingList" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Patient.positionNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Patient">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="UUDD_MT999999.Patient.positionNumber" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="patientPerson" type="UUDD_MT999999.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="providerOrganization" type="UUDD_MT999999.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participation" type="UUDD_MT999999.Participant2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Patient2.positionNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Patient2">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="UUDD_MT999999.Patient2.positionNumber" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="providerOrganization" type="UUDD_MT999999.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participation" type="UUDD_MT999999.Participant2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Patient3.positionNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Patient3">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="UUDD_MT999999.Patient3.positionNumber" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="veryImportantPersonCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="patientPerson" type="UUDD_MT999999.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participation" type="UUDD_MT999999.Participant2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" fixed="PAT"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Person">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="organDonorInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="maritalStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="educationLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="disabilityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="livingArrangementCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asPatient" type="UUDD_MT999999.Patient2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Procedure">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="PROC"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Role.positionNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Role">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="UUDD_MT999999.Role.positionNumber" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="playingEntity" type="UUDD_MT999999.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingPerson" type="UUDD_MT999999.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingManufacturedMaterial" type="UUDD_MT999999.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingContainer" type="UUDD_MT999999.Container" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingMaterial" type="UUDD_MT999999.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingOrganization" type="UUDD_MT999999.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:choice>
            <xs:element name="scopingEntity" type="UUDD_MT999999.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingPerson" type="UUDD_MT999999.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingManufacturedMaterial" type="UUDD_MT999999.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingContainer" type="UUDD_MT999999.Container" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingMaterial" type="UUDD_MT999999.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingOrganization" type="UUDD_MT999999.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="participation" type="UUDD_MT999999.Participant2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Role2.positionNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Role2">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="UUDD_MT999999.Role2.positionNumber" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="scopingEntity" type="UUDD_MT999999.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingPerson" type="UUDD_MT999999.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingManufacturedMaterial" type="UUDD_MT999999.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingContainer" type="UUDD_MT999999.Container" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingMaterial" type="UUDD_MT999999.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scopingOrganization" type="UUDD_MT999999.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="participation" type="UUDD_MT999999.Participant2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Role3.positionNumber">
      <xs:complexContent>
         <xs:extension base="INT">
            <xs:attribute name="unsorted" type="xs:boolean" default="false"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Role3">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="quantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="UUDD_MT999999.Role3.positionNumber" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="playingEntity" type="UUDD_MT999999.Entity" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingPerson" type="UUDD_MT999999.Person" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingManufacturedMaterial" type="UUDD_MT999999.ManufacturedMaterial" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingContainer" type="UUDD_MT999999.Container" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingMaterial" type="UUDD_MT999999.Material" nillable="true" minOccurs="0" maxOccurs="1"/>
            <xs:element name="playingOrganization" type="UUDD_MT999999.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
         <xs:element name="participation" type="UUDD_MT999999.Participant2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="optional" default="ROL"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.SourceOf1">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="UUDD_MT999999.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="UUDD_MT999999.Role" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="RoleLinkType" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.SourceOf2">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="UUDD_MT999999.Patient" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="role" type="UUDD_MT999999.Role" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="RoleLinkType" use="required"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.SourceOf3">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="splitCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="joinCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subsetCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="UUDD_MT999999.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="UUDD_MT999999.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="UUDD_MT999999.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="UUDD_MT999999.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="UUDD_MT999999.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="UUDD_MT999999.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="workingList" type="UUDD_MT999999.WorkingList" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.SourceOf4">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="splitCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="joinCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subsetCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="UUDD_MT999999.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="UUDD_MT999999.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="UUDD_MT999999.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="UUDD_MT999999.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="UUDD_MT999999.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="UUDD_MT999999.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="workingList" type="UUDD_MT999999.WorkingList" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Subject">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="act" type="UUDD_MT999999.Act" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="encounter" type="UUDD_MT999999.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="observation" type="UUDD_MT999999.Observation" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="procedure" type="UUDD_MT999999.Procedure" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="UUDD_MT999999.SubstanceAdministration" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="supply" type="UUDD_MT999999.Supply" nillable="true" minOccurs="1" maxOccurs="1"/>
            <xs:element name="workingList" type="UUDD_MT999999.WorkingList" nillable="true" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.SubstanceAdministration">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.Supply">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="optional" default="SPLY"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="UUDD_MT999999.WorkingList">
      <xs:sequence>
         <xs:element name="realmCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="typeId" type="UUDD_MT999999.InfrastructureRoot.typeId" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="UUDD_MT999999.InfrastructureRoot.templateId" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ownershipLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participant" type="UUDD_MT999999.Participant1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="UUDD_MT999999.SourceOf4" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="UUDD_MT999999.SourceOf3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="LIST"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
      <xs:attribute name="levelCode" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>