cmps/workingspace/processable/multicacheschemas/COCS_HD100000UV.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCS_HD100000UV.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  HTML To MIF markup: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Flat to Serialization Transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Fix Names Transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*     Package Id Conversion: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  HTML To MIF markup: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Flat to Serialization Transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Fix Names Transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: COCS_HD100000UV.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:complexType name="COCS_HD100000UV.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.ActReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Animal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="strainText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="genderStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCS_HD100000UV.Birthplace" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassAnimal" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Author3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000UV.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000UV.RelatedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Birthplace">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="birthplace" type="COCS_HD100000UV.Place" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassBirthplace" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="act" type="COCS_HD100000UV.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCS_HD100000UV.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="observation" type="COCS_HD100000UV.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCS_HD100000UV.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCS_HD100000UV.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCS_HD100000UV.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCS_HD100000UV.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCS_HD100000UV.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Conditions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCS_HD100000UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCS_HD100000UV.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCS_HD100000UV.Precondition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Definition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinition" type="COCS_HD100000UV.ActDefinition" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControlNonPropagating" use="optional"
                    default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Entity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asRelatedEntity" type="COCS_HD100000UV.RelatedEntity" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asRole" type="COCS_HD100000UV.Role" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="birthplace" type="COCS_HD100000UV.Birthplace" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCS_HD100000UV.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCS_HD100000UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Informant12">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000UV.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000UV.RelatedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.LabeledDrug">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareFacility" type="COCS_HD100000UV.HealthCareFacility"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="manufacturedLabeledDrug" type="COCS_HD100000UV.LabeledDrug"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="manufacturedMaterial" type="COCS_HD100000UV.Material" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="manufacturerOrganization" type="COCS_HD100000UV.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Material">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lotNumberText" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="COCS_HD100000UV.ReferenceRange2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.ObservationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCS_HD100000UV.Precondition" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="COCS_HD100000UV.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Patient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="patientEntity" type="COCS_HD100000UV.Entity" nillable="true"
                           minOccurs="0"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="patientPerson" type="COCS_HD100000UV.Person" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="patientAnimal" type="COCS_HD100000UV.Animal" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="providerOrganization" type="COCS_HD100000UV.Organization" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPatient" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Performer3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000UV.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000UV.RelatedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Person">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrativeGenderCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maritalStatusCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="religiousAffiliationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="raceCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ethnicGroupCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthplace" type="COCS_HD100000UV.Birthplace" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCS_HD100000UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCS_HD100000UV.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="COCS_HD100000UV.ManufacturedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCS_HD100000UV.Patient" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.ReferenceRange2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationRange" type="COCS_HD100000UV.ObservationRange" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControlNonPropagating" use="optional"
                    default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.RelatedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:element name="scopingEntity" type="COCS_HD100000UV.Entity" nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassMutualRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Role">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="COCS_HD100000UV.Organization" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.SourceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="act" type="COCS_HD100000UV.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="COCS_HD100000UV.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observation" type="COCS_HD100000UV.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="COCS_HD100000UV.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="COCS_HD100000UV.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="COCS_HD100000UV.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="COCS_HD100000UV.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControlNonPropagating" use="optional"
                    default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.SourceOf3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="act" type="COCS_HD100000UV.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCS_HD100000UV.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="observation" type="COCS_HD100000UV.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCS_HD100000UV.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCS_HD100000UV.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCS_HD100000UV.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCS_HD100000UV.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCS_HD100000UV.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimenEntity" type="COCS_HD100000UV.Entity" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:choice>
            <xs:element name="sourceEntity" type="COCS_HD100000UV.Entity" nillable="true" minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassSpecimen" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCS_HD100000UV.Patient" minOccurs="1" maxOccurs="1"/>
            <xs:element name="relatedEntity" type="COCS_HD100000UV.RelatedEntity" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="specimen" type="COCS_HD100000UV.Specimen" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="consumable" type="COCS_HD100000UV.Consumable" minOccurs="1" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCS_HD100000UV.Subject4" minOccurs="1" maxOccurs="1"/>
         <xs:element name="product" type="COCS_HD100000UV.Product" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCS_HD100000UV.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="performer" type="COCS_HD100000UV.Performer3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCS_HD100000UV.Author3" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEnterer" type="COCS_HD100000UV.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCS_HD100000UV.Informant12" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCS_HD100000UV.Verifier" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCS_HD100000UV.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant" type="COCS_HD100000UV.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCS_HD100000UV.Definition2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditions" type="COCS_HD100000UV.Conditions" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf" type="COCS_HD100000UV.SourceOf3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="COCS_HD100000UV.SourceOf" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCS_HD100000UV.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
</xs:schema>