cmps/workingspace/processable/multicacheschemas/COCT_MT680003UV04.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT680003UV04.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: COCT_MT680003UV04.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*     Package Id Conversion: $Id: COCT_MT680003UV04.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT280000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT290000UV06.xsd"/>
   <xs:include schemaLocation="COCT_MT490000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT300000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT310000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT600000UV06.xsd"/>
   <xs:include schemaLocation="COCT_MT740000UV04.xsd"/>
   <xs:complexType name="COCT_MT680003UV04.AdjudicatedInvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reference" type="COCT_MT680003UV04.Reference4" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="outcomeOf" type="COCT_MT680003UV04.Outcome" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.AdjudicatedInvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="COCT_MT680003UV04.Author2" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reference" type="COCT_MT680003UV04.Reference4" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="coverage" type="COCT_MT680003UV04.Coverage" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="COCT_MT680003UV04.Component2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outcomeOf" type="COCT_MT680003UV04.Outcome" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.AdjudicationResult">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reference" type="COCT_MT680003UV04.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="COCT_MT680003UV04.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassFinancialAdjudication" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.AdjudicationResultInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.AdjudicationResultReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.AdjudicatorRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Allowable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Author1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="carrierRole" type="COCT_MT680003UV04.CarrierRole" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="adjudicatorRole" type="COCT_MT680003UV04.AdjudicatorRole" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Beneficiary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coveredPartyAsPatient" type="COCT_MT680003UV04.CoveredPartyAsPatient"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationBeneficiary" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.CarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassUnderwriter" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="invoiceElementGroup" type="COCT_MT680003UV04.InvoiceElementGroup"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="invoiceElementDetail" type="COCT_MT680003UV04.InvoiceElementDetail"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicatedInvoiceElementGroup"
                        type="COCT_MT680003UV04.AdjudicatedInvoiceElementGroup"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="adjudicatedInvoiceElementDetail"
                        type="COCT_MT680003UV04.AdjudicatedInvoiceElementDetail"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Coverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="policyOrAccount" type="COCT_MT680003UV04.PolicyOrAccount" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipCoveredBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.CoveredPartyAsPatient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="coveredPartyAsPatientPerson"
                        type="COCT_MT680003UV04.CoveredPartyAsPatientPerson"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="indirectAuthority" type="COCT_MT680003UV04.IndirectAuthorithyOver"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassCoveredParty" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.CoveredPartyAsPatientPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="5"/>
         <xs:element name="administrativeGenderCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.IndirectAuthorithyOver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="personalRelationship" type="COCT_MT680003UV04.PersonalRelationship"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="RoleLinkHasIndirectAuthorityOver" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.InvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reasonOf" type="COCT_MT680003UV04.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.InvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="component" type="COCT_MT680003UV04.Component1" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="COCT_MT680003UV04.Reason" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Outcome">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResult" type="COCT_MT680003UV04.AdjudicationResult"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipOutcome" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPersonalRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicationResultReason"
                        type="COCT_MT680003UV04.AdjudicationResultReason"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="adjudicationResultInformation"
                        type="COCT_MT680003UV04.AdjudicationResultInformation"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.PolicyOrAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="beneficiary" type="COCT_MT680003UV04.Beneficiary" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author" type="COCT_MT680003UV04.Author1" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassCoverage" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="billableClinicalService" type="COCT_MT290000UV06.BillableClinicalService"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="billableClinicalProduct" type="COCT_MT490000UV04.BillableClinicalProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyEvent1" type="COCT_MT300000UV04.SupplyEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="accomodationSupplied" type="COCT_MT310000UV04.AccomodationSupplied"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyEvent2" type="COCT_MT600000UV06.SupplyEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="oralHealthService" type="COCT_MT740000UV04.OralHealthService"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="crossReference" type="COCT_MT280000UV04.CrossReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="invoiceElementGroup" type="COCT_MT680003UV04.InvoiceElementGroup"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="invoiceElementDetail" type="COCT_MT680003UV04.InvoiceElementDetail"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT680003UV04.Reference4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allowable" type="COCT_MT680003UV04.Allowable" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
</xs:schema>