cmps/workingspace/processable/multicacheschemas/FICR_MT500501UV03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type FICR_MT500501UV03.
* Source information:
*     Rendered by: RoseTree 4.2.34
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Base transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  HTML To MIF markup: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
 Fix Names Transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Base transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
*     Package Id Conversion: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Base transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  HTML To MIF markup: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
 Fix Names Transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Base transform: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
  Package Id Conversion: $Id: FICR_MT500501UV03.xsd,v 1.1 2009-12-01 16:57:25 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT110200UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT680000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT750000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT760000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT280000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT290000UV06.xsd"/>
   <xs:include schemaLocation="COCT_MT490000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT300000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT310000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT600000UV06.xsd"/>
   <xs:include schemaLocation="COCT_MT740000UV04.xsd"/>
   <xs:complexType name="FICR_MT500501UV03.Accident">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassIncident" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.BillingSupportObservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="prosthesisObservation" type="COCT_MT760000UV04.ProsthesisObservation"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="toothAbsenceObservation" type="COCT_MT760000UV04.ToothAbsenceObservation"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.CarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassUnderwriter" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.Consenter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="signatureText" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="contactPerson" type="FICR_MT500501UV03.ContactPerson" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.ContactPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.CoveredPartyAsPatient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="coveredPartyAsPatientAnimal"
                        type="FICR_MT500501UV03.CoveredPartyAsPatientAnimal"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="coveredPartyAsPatientPerson"
                        type="FICR_MT500501UV03.CoveredPartyAsPatientPerson"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
         <xs:element name="indirectAuthority" type="FICR_MT500501UV03.IndirectAuthorithyOver"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassCoveredParty" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.CoveredPartyAsPatientAnimal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.CoveredPartyAsPatientPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="5"/>
         <xs:element name="administrativeGenderCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="deceasedTime" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="multipleBirthInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="multipleBirthOrderNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.FinancialContract">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassFinancialContract" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.HealthDocumentAttachment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.Holder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="policyHolder" type="FICR_MT500501UV03.PolicyHolder" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationHolder" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.IndirectAuthorithyOver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="personalRelationship" type="FICR_MT500501UV03.PersonalRelationship"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="RoleLinkHasIndirectAuthorityOver" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementComponent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="invoiceElementDetail" type="FICR_MT500501UV03.InvoiceElementDetail"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="invoiceElementGroup" type="FICR_MT500501UV03.InvoiceElementGroup"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementCoverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="policyOrAccount" type="FICR_MT500501UV03.PolicyOrAccount" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipCoveredBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementCrossReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reasonOf" type="FICR_MT500501UV03.InvoiceElementReason" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodProposal" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="inFulfillmentOf"
                     type="FICR_MT500501UV03.InvoiceElementGroupInFulfillmentOf"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="predecessor" type="FICR_MT500501UV03.Predecessor" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="FICR_MT500501UV03.Reference" nillable="true"
                     minOccurs="0"
                     maxOccurs="9"/>
         <xs:element name="coverage" type="FICR_MT500501UV03.InvoiceElementCoverage" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation1"
                     type="FICR_MT500501UV03.InvoiceElementGroupAttachment"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="FICR_MT500501UV03.BillingSupportObservation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="FICR_MT500501UV03.InvoiceElementComponent" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="FICR_MT500501UV03.InvoiceElementReason" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="triggerFor" type="FICR_MT500501UV03.Suggests" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodProposal" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementGroupAttachment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthDocumentAttachment"
                     type="FICR_MT500501UV03.HealthDocumentAttachment"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementGroupInFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="financialContract" type="FICR_MT500501UV03.FinancialContract"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementOverride">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.InvoiceElementReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="billableClinicalService" type="COCT_MT290000UV06.BillableClinicalService"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="billableClinicalProduct" type="COCT_MT490000UV04.BillableClinicalProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyEvent1" type="COCT_MT300000UV04.SupplyEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="accomodationSupplied" type="COCT_MT310000UV04.AccomodationSupplied"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyEvent2" type="COCT_MT600000UV06.SupplyEvent" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="oralHealthService" type="COCT_MT740000UV04.OralHealthService"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="crossReference" type="COCT_MT280000UV04.CrossReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.ParentOrGuardian">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.ParentOrGuardianRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
         <xs:element name="code" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PatientConsent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PaymentRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="amt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="primaryPerformer" type="FICR_MT500501UV03.PaymentRequestAttention"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="credit" type="FICR_MT500501UV03.PaymentRequestPayee" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="FICR_MT500501UV03.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="FICR_MT500501UV03.PaymentRequestReason" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassFinancialTransaction" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodProposal" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PaymentRequestAttention">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="contactParty" type="FICR_MT500501UV03.ContactParty" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationPrimaryPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PaymentRequestPayee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110200UV04.Account" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasCredit" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PaymentRequestReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="invoiceElementGroup" type="FICR_MT500501UV03.InvoiceElementGroup"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPersonalRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="providerBillingTaxAccount"
                     type="FICR_MT500501UV03.ProviderBillingTaxAccount"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyAccident">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="accident" type="FICR_MT500501UV03.Accident" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyBeneficiary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coveredPartyAsPatient" type="FICR_MT500501UV03.CoveredPartyAsPatient"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationBeneficiary" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyConsent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassConsent" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyConsentPertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="policyConsent" type="FICR_MT500501UV03.PolicyConsent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyHolder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="policyHolderPerson" type="FICR_MT500501UV03.PolicyHolderPerson"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="policyHolderOrganization"
                        type="FICR_MT500501UV03.PolicyHolderOrganization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPolicyHolder" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyHolderOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="xs:anyType" minOccurs="0" maxOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyHolderPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyOrAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="beneficiary" type="FICR_MT500501UV03.PolicyBeneficiary" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="holder" type="FICR_MT500501UV03.Holder" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="FICR_MT500501UV03.PolicyUnderwriter" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="FICR_MT500501UV03.PolicyAccident"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertainsTo" type="FICR_MT500501UV03.PolicyConsentPertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassCoverage" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.PolicyUnderwriter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="carrierRole" type="FICR_MT500501UV03.CarrierRole" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.Predecessor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="invoiceElementCrossReference"
                     type="FICR_MT500501UV03.InvoiceElementCrossReference"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPreviousInstance" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.ProviderBillingTaxAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassAccount" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicatedInvoiceElementGroup"
                        type="COCT_MT680000UV04.AdjudicatedInvoiceElementGroup"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_MT500501UV03.Suggests">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="invoiceElementOverride" type="FICR_MT500501UV03.InvoiceElementOverride"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasTrigger" use="required"/>
   </xs:complexType>
</xs:schema>