cmps/workingspace/processable/multicacheschemas/QUCR_HD340100UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type QUCR_HD340100UV02.
* Source information:
*     Rendered by: RoseTree 4.2.34
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  HTML To MIF markup: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Flat to Serialization Transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Fix Names Transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*     Package Id Conversion: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  HTML To MIF markup: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Flat to Serialization Transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
 Fix Names Transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Base transform: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
  Package Id Conversion: $Id: QUCR_HD340100UV02.xsd,v 1.1 2009-12-01 16:57:26 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="QUCR_HD340100UV02.InvoiceElementGroup.Id">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="QUCR_HD340100UV02.ParameterList">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="invoiceElementGroup.Id" type="QUCR_HD340100UV02.InvoiceElementGroup.Id"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
</xs:schema>