cmts/workingspace/hl7v3/multicacheschemas/FICR_HD310600UV03.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type FICR_HD310600UV03.
* Source information:
*     Rendered by: RoseTree 4.2.34
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  HTML To MIF markup: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Fix Names Transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*     Package Id Conversion: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  HTML To MIF markup: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Flat to Serialization Transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
 Fix Names Transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Base transform: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
  Package Id Conversion: $Id: FICR_HD310600UV03.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT110200UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT110100UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT680000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT320000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT260003UV.xsd"/>
   <xs:complexType name="FICR_HD310600UV03.AdditionalPertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicationResultInformation"
                        type="FICR_HD310600UV03.AdjudicationResultInformation"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="adjudicationResultReason"
                        type="FICR_HD310600UV03.AdjudicationResultReason"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatedInvoiceAuthor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="adjudicatorRole" type="FICR_HD310600UV03.AdjudicatorRole" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatedInvoiceCoverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="1" maxOccurs="1"/>
         <xs:element name="policyOrAccount" type="FICR_HD310600UV03.PolicyOrAccount" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipCoveredBy" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatedInvoiceElementComponent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicatedInvoiceElementDetail"
                        type="FICR_HD310600UV03.AdjudicatedInvoiceElementDetail"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="adjudicatedInvoiceElementGroup"
                        type="FICR_HD310600UV03.AdjudicatedInvoiceElementGroup"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatedInvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitQuantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="unitPriceAmt" type="RTO_MO_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="factorNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="reference1" type="FICR_HD310600UV03.Reference4" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="outcomeOf" type="FICR_HD310600UV03.AdjudicatedResultOutcome"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatedInvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
         <xs:element name="author" type="FICR_HD310600UV03.AdjudicatedInvoiceAuthor" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reference" type="FICR_HD310600UV03.Reference2" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reference1" type="FICR_HD310600UV03.Reference4" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="coverage" type="FICR_HD310600UV03.AdjudicatedInvoiceCoverage"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="limitation" type="FICR_HD310600UV03.Limitation" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="component" type="FICR_HD310600UV03.AdjudicatedInvoiceElementComponent"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="outcomeOf" type="FICR_HD310600UV03.AdjudicatedResultOutcome"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatedResultOutcome">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResult" type="FICR_HD310600UV03.AdjudicationResult"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipOutcome" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationObservationReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="detectedMedicationIssue" type="COCT_MT260003UV.DetectedMedicationIssue"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationResult">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="trigger" type="FICR_HD310600UV03.AdjudicationResultTrigger"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reference" type="FICR_HD310600UV03.AdjudicationResultReference"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation"
                     type="FICR_HD310600UV03.AdditionalPertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reasonOf" type="FICR_HD310600UV03.AdjudicationObservationReason"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassFinancialAdjudication" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationResultInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="trigger" type="FICR_HD310600UV03.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationResultReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ED" minOccurs="1" maxOccurs="1"/>
         <xs:element name="trigger" type="FICR_HD310600UV03.Trigger" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationResultReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="invoiceElementDetail" type="FICR_HD310600UV03.InvoiceElementDetail"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="invoiceElementGroup" type="FICR_HD310600UV03.InvoiceElementGroup"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationResultRequiredAct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directTarget" type="FICR_HD310600UV03.RequiredActDirectTarget"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodRequest" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicationResultTrigger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResultRequiredAct"
                     type="FICR_HD310600UV03.AdjudicationResultRequiredAct"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasTrigger" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatorPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="PN" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.AdjudicatorRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="playingAdjudicatorPerson" type="FICR_HD310600UV03.AdjudicatorPerson"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="directAuthority" type="FICR_HD310600UV03.DirectAuthorityOver"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Allowable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.CarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassUnderwriter" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.CoveredPartyAsPatient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="indirectAuthority" type="FICR_HD310600UV03.IndirectAuthorithyOver"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassCoveredParty" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.DirectAuthorityOver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="insuranceCarrierRole" type="FICR_HD310600UV03.InsuranceCarrierRole"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="RoleLinkHasDirectAuthorityOver" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Form">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.FormRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="playingForm" type="FICR_HD310600UV03.Form" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Holder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="policyHolder" type="FICR_HD310600UV03.PolicyHolder" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationHolder" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.IndirectAuthorithyOver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="personalRelationship" type="FICR_HD310600UV03.PersonalRelationship"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="RoleLinkHasIndirectAuthorityOver" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.InsuranceCarrierRole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.InvoiceElementDetail">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodProposal" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.InvoiceElementGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="netAmt" type="MO" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassInvoiceElement" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodProposal" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Limitation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="reservation" type="FICR_HD310600UV03.Reservation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipLimitedBy" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PaymentIntent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="amt" type="MO" minOccurs="0" maxOccurs="1"/>
         <xs:element name="credit" type="FICR_HD310600UV03.PaymentIntentPayee" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="debit" type="FICR_HD310600UV03.PaymentIntentPayor" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="reasonOf" type="FICR_HD310600UV03.PaymentIntentReason" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassFinancialTransaction" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodIntent" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PaymentIntentPayee">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110200UV04.Account" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasCredit" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PaymentIntentPayor">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110100UV04.Account" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasDebit" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PaymentIntentReason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicatedInvoiceElementGroup"
                     type="FICR_HD310600UV03.AdjudicatedInvoiceElementGroup"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipReason" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PersonalRelationship">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPersonalRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PolicyBeneficiary">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coveredPartyAsPatient" type="FICR_HD310600UV03.CoveredPartyAsPatient"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationBeneficiary" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PolicyHolder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="policyHolderPerson" type="FICR_HD310600UV03.PolicyHolderPerson"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="policyHolderOrganization"
                        type="FICR_HD310600UV03.PolicyHolderOrganization"
                        nillable="true"
                        minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPolicyHolder" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PolicyHolderOrganization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PolicyHolderPerson">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="PN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="birthTime" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPerson" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PolicyOrAccount">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="beneficiary" type="FICR_HD310600UV03.PolicyBeneficiary" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="holder" type="FICR_HD310600UV03.Holder" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="author" type="FICR_HD310600UV03.PolicyUnderwriter" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassCoverage" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.PolicyUnderwriter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="carrierRole" type="FICR_HD310600UV03.CarrierRole" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Reference2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="adjudicatedInvoiceElementGroup"
                        type="COCT_MT680000UV04.AdjudicatedInvoiceElementGroup"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Reference4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allowable" type="FICR_HD310600UV03.Allowable" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipRefersTo" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.RequiredActDirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="formRole" type="FICR_HD310600UV03.FormRole" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDirect" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Reservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="amt" type="MO" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassFinancialTransaction" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="FICR_HD310600UV03.Trigger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="adjudicationResultRequiredAct"
                     type="FICR_HD310600UV03.AdjudicationResultRequiredAct"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasTrigger" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
</xs:schema>