cmts/workingspace/hl7v3/multicacheschemas/PRPA_MT202306UV02.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PRPA_MT202306UV02.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: PRPA_MT202306UV02.xsd,v 1.1 2009-11-24 18:32:45 wangeug Exp $
*     Package Id Conversion: $Id: PRPA_MT202306UV02.xsd,v 1.1 2009-11-24 18:32:45 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:complexType name="PRPA_MT202306UV02.IdentifiedLocationId">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.IdentifyingOrg">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ON" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.MatchAlgorithm">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.MatchCriterionList">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="matchAlgorithm" type="PRPA_MT202306UV02.MatchAlgorithm" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="matchWeight" type="PRPA_MT202306UV02.MatchWeight" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="minimumDegreeMatch" type="PRPA_MT202306UV02.MinimumDegreeMatch"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.MatchWeight">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.MinimumDegreeMatch">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.ParameterList">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="identifiedLocationId" type="PRPA_MT202306UV02.IdentifiedLocationId"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="identifyingOrg" type="PRPA_MT202306UV02.IdentifyingOrg" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sdlocAddress" type="PRPA_MT202306UV02.SdlocAddress" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sdlocName" type="PRPA_MT202306UV02.SdlocName" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sdlocService" type="PRPA_MT202306UV02.SdlocService" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sdlocStatus" type="PRPA_MT202306UV02.SdlocStatus" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sdlocTerritorialAuthority"
                     type="PRPA_MT202306UV02.SdlocTerritorialAuthority"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sdlocType" type="PRPA_MT202306UV02.SdlocType" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.QueryByParameter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="queryId" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modifyCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responseElementGroupId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="responseModalityCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responsePriorityCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="initialQuantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="initialQuantityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="executionAndDeliveryTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="matchCriterionList" type="PRPA_MT202306UV02.MatchCriterionList"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="parameterList" type="PRPA_MT202306UV02.ParameterList" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="sortControl" type="PRPA_MT202306UV02.SortControl" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SdlocAddress">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="AD" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SdlocName">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="EN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SdlocService">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CD" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SdlocStatus">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SdlocTerritorialAuthority">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SdlocType">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="value" type="CE" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="semanticsText" type="ST" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PRPA_MT202306UV02.SortControl">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="elementName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directionCode" type="CS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
   </xs:complexType>
</xs:schema>