cmps/workingspace/hl7v3/HL7v3Schema/COCT_MT010000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT010000UV01.
* Source information:
*     Rendered by: RoseTree 3.0.19
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Base transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Package Id Conversion: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  HTML To MIF markup: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
 Flat to Serialization Transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
 Fix Names Transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Base transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Package Id Conversion: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
*     Package Id Conversion: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Base transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Package Id Conversion: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  HTML To MIF markup: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
 Flat to Serialization Transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
 Fix Names Transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Base transform: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
  Package Id Conversion: $Id: COCT_MT010000UV01.xsd,v 1.1 2008-12-09 19:04:17 linc Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT710000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT150000UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT020000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT120104.xsd"/>
   <xs:include schemaLocation="COCT_MT470000.xsd"/>
   <xs:include schemaLocation="COCT_MT110000UV04.xsd"/>
   <xs:include schemaLocation="COCT_MT060000UV01.xsd"/>
   <xs:complexType name="COCT_MT010000UV01.AccomodationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ACCM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Admitter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ADM"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Attender">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ATND"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Authorization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="consent" type="COCT_MT470000.Consent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="AUTH"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.CauseOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CAUS"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="optional" default="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Consultant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CON"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Discharger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="DIS"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="admissionReferralSourceCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dischargeDispositionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preAdmitTestInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialCourtesiesCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specialArrangementCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT010000UV01.Subject1" minOccurs="1" maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT010000UV01.ResponsibleParty1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="admitter" type="COCT_MT010000UV01.Admitter" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="attender" type="COCT_MT010000UV01.Attender" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="discharger" type="COCT_MT010000UV01.Discharger" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="referrer" type="COCT_MT010000UV01.Referrer" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="consultant" type="COCT_MT010000UV01.Consultant" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="notificationContact" type="COCT_MT010000UV01.NotificationContact" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT010000UV01.Location1" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sequelTo" type="COCT_MT010000UV01.SequelTo" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="inFulfillmentOf" type="COCT_MT010000UV01.InFulfillmentOf" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pertinentInformation1" type="COCT_MT010000UV01.PertinentInformation2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation2" type="COCT_MT010000UV01.PertinentInformation3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="causeOf" type="COCT_MT010000UV01.CauseOf" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="authorization" type="COCT_MT010000UV01.Authorization" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="reference" type="COCT_MT010000UV01.Reference" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transportedBy" type="COCT_MT010000UV01.TransportedBy" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="COCT_MT010000UV01.Component" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="ENC"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="appointment" type="COCT_MT020000UV01.Appointment" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipFulfills" use="optional" default="FLFS"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Location1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT010000UV01.ServiceDeliveryLocation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Location3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="accomodationEvent" type="COCT_MT010000UV01.AccomodationEvent" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="optional" default="LOC"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.NotificationContact">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="NOT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.ObservationEvent02">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.PertinentInformation2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationDx" type="COCT_MT120104.ObservationDx" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.PertinentInformation3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="COCT_MT010000UV01.ObservationEvent02" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="optional" default="PERT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Reference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="account" type="COCT_MT110000UV04.Account" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="REFR"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Referrer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="REF"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.ResponsibleParty1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedOrganization" type="COCT_MT090200UV01.AssignedOrganization" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RESP"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.SequelTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000UV01.Encounter" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipSequel" use="optional" default="SEQL"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.ServiceDeliveryLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCT_MT710000UV01.Place" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="COCT_MT150000UV02.Organization" nillable="true" minOccurs="0" maxOccurs="1"/>
         <xs:element name="locationOf" type="COCT_MT010000UV01.Location3" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="optional" default="SDLOC"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="patient" type="COCT_MT050000UV01.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="optional" default="SBJ"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT010000UV01.TransportedBy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="transportation" type="COCT_MT060000UV01.Transportation" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="x_ActRelationshipPatientTransport" use="required"/>
   </xs:complexType>
</xs:schema>