cmps/workingspace/hl7v3/multicacheschemas/PORR_HD049008UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type PORR_HD049008UV01.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: PORR_HD049008UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*     Package Id Conversion: $Id: PORR_HD049008UV01.xsd,v 1.1 2009-11-24 18:32:44 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="PORR_MT049010UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT240001UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT530000UV.xsd"/>
   <xs:complexType name="PORR_HD049008UV01.ActionTaken">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.AssociatedPartyStub">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPersonalRelationship" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.AuthorOrPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity" type="COCT_MT090000UV01.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="procedureEvent" type="PORR_HD049008UV01.ProcedureEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="identifiedDevice" type="PORR_MT049010UV01.IdentifiedDevice"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.InterventionCharacterization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CE" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.InvestigativeSubjectStub">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassInvestigationSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240001UV02.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="observation" type="COCT_MT530000UV.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCT_MT530000UV.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCT_MT530000UV.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCT_MT530000UV.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCT_MT530000UV.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="act" type="COCT_MT530000UV.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCT_MT530000UV.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCT_MT530000UV.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.ProcedureEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="PORR_HD049008UV01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="device" type="PORR_HD049008UV01.Device" nillable="true" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="authorOrPerformer" type="PORR_HD049008UV01.AuthorOrPerformer"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="PORR_HD049008UV01.Location" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="support1" type="PORR_HD049008UV01.Support1" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="support2" type="PORR_HD049008UV01.Support2" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pertinentInformation" type="PORR_HD049008UV01.PertinentInformation"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="PORR_HD049008UV01.Component" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="investigativeSubjectStub"
                        type="PORR_HD049008UV01.InvestigativeSubjectStub"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="associatedPartyStub" type="PORR_HD049008UV01.AssociatedPartyStub"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.Support1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actionTaken" type="PORR_HD049008UV01.ActionTaken" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSupport" use="required"/>
   </xs:complexType>
   <xs:complexType name="PORR_HD049008UV01.Support2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="interventionCharacterization"
                     type="PORR_HD049008UV01.InterventionCharacterization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSupport" use="required"/>
   </xs:complexType>
</xs:schema>