etc/data/hl7v3/HL7v3Schema/COCT_MT020000UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:mif="urn:hl7-org:v3/mif"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT020000UV01.
* Source information:
*     Rendered by: RoseTree 3.0.19
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Base transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Package Id Conversion: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  HTML To MIF markup: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
 Flat to Serialization Transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
 Fix Names Transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Base transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Package Id Conversion: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
*
* Generated by XMLITS version 2.0
*   MIF to XSD Transform $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
*     Package Id Conversion: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
   <xs:annotation>
      <xs:documentation>Generated using schema builder version 2.0. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Base transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Package Id Conversion: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  HTML To MIF markup: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
 Flat to Serialization Transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
 Fix Names Transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Base transform: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
  Package Id Conversion: $Id: COCT_MT020000UV01.xsd,v 1.1 2008-10-21 20:49:08 linc Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="../coreschemas/NarrativeBlock.xsd"/>
   <xs:complexType name="COCT_MT020000UV01.ActAppointmentRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="ARQ"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT020000UV01.ActRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT020000UV01.Appointment">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="referencedOrder" type="COCT_MT020000UV01.ReferencedOrder" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="scheduleRequest" type="COCT_MT020000UV01.ScheduleRequest" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="optional" default="ACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="APT"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT020000UV01.ReferencedOrder">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actRequest" type="COCT_MT020000UV01.ActRequest" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="OREF"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT020000UV01.ScheduleRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actAppointmentRequest" type="COCT_MT020000UV01.ActAppointmentRequest" nillable="true" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SCH"/>
   </xs:complexType>
</xs:schema>