workingspace/hl7v3/multicacheschemas/REPC_HD000324UV01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ex="urn:hl7-org/v3-example"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type REPC_HD000324UV01.
* Source information:
*     Rendered by: RoseTree 4.2.7
*     Rendered on: 
* HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  HTML To MIF markup: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Flat to Serialization Transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Fix Names Transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
*
* Generated by XMLITS version 3.2.5
*   MIF to XSD Transform $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
*     Package Id Conversion: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  HTML To MIF markup: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Flat to Serialization Transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
 Fix Names Transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Base transform: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
  Package Id Conversion: $Id: REPC_HD000324UV01.xsd,v 1.1 2009-11-24 18:32:43 wangeug Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT050000UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT910000UV.xsd"/>
   <xs:include schemaLocation="COCT_MT040200UV01.xsd"/>
   <xs:include schemaLocation="COCT_MT090102UV02.xsd"/>
   <xs:include schemaLocation="COCT_MT230100UV.xsd"/>
   <xs:include schemaLocation="COCT_MT090100UV01.xsd"/>
   <xs:complexType name="REPC_HD000324UV01.AdministerableMaterial">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="administerableMaterialKind" type="REPC_HD000324UV01.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassAdministerableMaterial" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.AllergyIntoleranceConcern">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="recordTarget" type="REPC_HD000324UV01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_HD000324UV01.ResponsibleParty2"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="REPC_HD000324UV01.Location" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant1" type="REPC_HD000324UV01.Author" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant2" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant3" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant4" type="REPC_HD000324UV01.Author" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant5" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant6" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant7" type="REPC_HD000324UV01.Author" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant8" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant9" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sequelTo" type="REPC_HD000324UV01.SequelTo" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="REPC_HD000324UV01.Component3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="REPC_HD000324UV01.Links" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="REPC_HD000324UV01.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="sourceOf3" type="REPC_HD000324UV01.Subject6" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf4" type="REPC_HD000324UV01.Links" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf5" type="REPC_HD000324UV01.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="sourceOf6" type="REPC_HD000324UV01.Subject6" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf7" type="REPC_HD000324UV01.Links" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf8" type="REPC_HD000324UV01.ReplacementOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="sourceOf9" type="REPC_HD000324UV01.Subject6" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="REPC_HD000324UV01.Subject2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="REPC_HD000324UV01.Subject3" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.AllergyIntoleranceDetailObservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="recordTarget" type="REPC_HD000324UV01.RecordTarget" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTarget1" type="REPC_HD000324UV01.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTarget2" type="REPC_HD000324UV01.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTarget3" type="REPC_HD000324UV01.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTarget4" type="REPC_HD000324UV01.Participant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="responsibleParty" type="REPC_HD000324UV01.ResponsibleParty"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="REPC_HD000324UV01.Location" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant1" type="REPC_HD000324UV01.Author2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant10" type="REPC_HD000324UV01.Author2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant11" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant12" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant2" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant3" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant4" type="REPC_HD000324UV01.Author2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant5" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant6" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant7" type="REPC_HD000324UV01.Author2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participant8" type="REPC_HD000324UV01.DataEnterer" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant9" type="REPC_HD000324UV01.Informant" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf1" type="REPC_HD000324UV01.Subject4" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf2" type="REPC_HD000324UV01.Support" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf3" type="REPC_HD000324UV01.Subject4" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="sourceOf4" type="REPC_HD000324UV01.Support" nillable="true" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf1" type="REPC_HD000324UV01.Subject1" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="targetOf2" type="REPC_HD000324UV01.Subject3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf3" type="REPC_HD000324UV01.Subject1" nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="targetOf4" type="REPC_HD000324UV01.Subject3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.AllergyTestResult">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="CV" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Annotation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ST" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participant" type="REPC_HD000324UV01.Author3" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedPerson1" type="COCT_MT090102UV02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Author2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Author3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100UV01.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allergyIntoleranceConcern"
                     type="REPC_HD000324UV01.AllergyIntoleranceConcern"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="administerableMaterial" type="REPC_HD000324UV01.AdministerableMaterial"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="medication" type="COCT_MT230100UV.Medication" minOccurs="1" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.ControlActEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="reasonCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="responsibleParty" type="REPC_HD000324UV01.ResponsibleParty"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="participant" type="REPC_HD000324UV01.Author2" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.DataEnterer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.HealthCareFacility">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="REPC_HD000324UV01.Place" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="serviceProviderOrganization" type="REPC_HD000324UV01.Organization"
                     nillable="true"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassServiceDeliveryLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Informant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="assignedPerson1" type="COCT_MT090102UV02.AssignedPerson" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Links">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allergyIntoleranceConcern"
                     type="REPC_HD000324UV01.AllergyIntoleranceConcern"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="healthCareFacility" type="REPC_HD000324UV01.HealthCareFacility"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.MaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="materialPart" type="REPC_HD000324UV01.MaterialPart" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="determinerCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.MaterialKind2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="determinerCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.MaterialPart">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="partMaterialKind" type="REPC_HD000324UV01.MaterialKind2" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="RoleClassPartitive" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Organization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name" type="ON" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassOrganization" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="administerableMaterial" type="REPC_HD000324UV01.AdministerableMaterial"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="medication" type="COCT_MT230100UV.Medication" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationCausativeAgent" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Reaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sourceOf" type="REPC_HD000324UV01.StartsAfterStartOf" nillable="true"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="targetOf" type="REPC_HD000324UV01.Subject" nillable="true" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient1" type="COCT_MT050000UV01.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="employee" type="COCT_MT910000UV.Employee" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="student" type="COCT_MT910000UV.Student" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="personalRelationship" type="COCT_MT910000UV.PersonalRelationship"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="careGiver" type="COCT_MT910000UV.CareGiver" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="responsibleParty" type="COCT_MT040200UV01.ResponsibleParty"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.ReplacementOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allergyIntoleranceConcern"
                     type="REPC_HD000324UV01.AllergyIntoleranceConcern"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.ResponsibleParty2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPerson" type="COCT_MT090102UV02.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.SequelTo">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allergyIntoleranceConcern"
                     type="REPC_HD000324UV01.AllergyIntoleranceConcern"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipSequel" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.SeverityObservation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="CV" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.StartsAfterStartOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="substanceAdministration" type="REPC_HD000324UV01.SubstanceAdministration"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="severityObservation" type="REPC_HD000324UV01.SeverityObservation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="severityObservation" type="REPC_HD000324UV01.SeverityObservation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="controlActEvent" type="REPC_HD000324UV01.ControlActEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="annotation" type="REPC_HD000324UV01.Annotation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="reaction" type="REPC_HD000324UV01.Reaction" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Subject6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allergyIntoleranceDetailObservation"
                     type="REPC_HD000324UV01.AllergyIntoleranceDetailObservation"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participant" type="REPC_HD000324UV01.Consumable" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="classCode" type="cs" use="required"/>
      <xs:attribute name="moodCode" type="cs" use="required"/>
   </xs:complexType>
   <xs:complexType name="REPC_HD000324UV01.Support">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="allergyTestResult" type="REPC_HD000324UV01.AllergyTestResult"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
      <xs:attribute name="typeCode" type="cs" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
</xs:schema>