cmts/workingspace/Csv2Xml/COCT_MT010000_Simple.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- xs:element name="cvsMetadata" type="CVSMetadataType"/ -->
<xs:element name="ENCOUNTER_HEAD" type="ENCOUNTER_HEAD_TYPE"/>
<xs:simpleType name="stringtype">
 <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="inttype">
 <xs:restriction base="xs:positiveInteger"/>
</xs:simpleType>

<xs:simpleType name="dectype">
 <xs:restriction base="xs:decimal"/>
</xs:simpleType>

<xs:simpleType name="idtype">
 <xs:restriction base="xs:string">
  <xs:pattern value="[0-9]{6}"/>
 </xs:restriction>
</xs:simpleType>

<!-- xs:complexType name="CVSMetadataType">
 <xs:sequence>
  <xs:element name="ENCOUNTER_HEAD" type="ENCOUNTER_HEAD_TYPE"/>
 </xs:sequence>
</xs:complexType -->

<xs:complexType name="ENCOUNTER_HEAD_TYPE">
 <xs:sequence>
  <xs:element name="SUBJECT_1" type="SUBJECT_1_TYPE" minOccurs="0" maxOccurs="unbounded" />
 </xs:sequence>
 <xs:attribute name="id00_assigningAuthorityName" type="xs:string" use="required"/>
 <xs:attribute name="id00_extension" type="xs:string" use="required"/>
 <xs:attribute name="id00_root" type="xs:string" use="required"/>
 <xs:attribute name="code_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="code_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="code_displayName" type="xs:string" use="required"/>
 <xs:attribute name="code_code" type="xs:string" use="required"/>
 <xs:attribute name="statusCode_code" type="xs:string" use="required"/>
 <xs:attribute name="effectiveTime_value" type="xs:string" use="required"/>
 <xs:attribute name="activityTime_value" type="xs:string" use="required"/>
 <xs:attribute name="priorityCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="priorityCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="priorityCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="priorityCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="reasonCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="reasonCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="reasonCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="reasonCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="admissionReferralSourceCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="admissionReferralSourceCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="admissionReferralSourceCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="admissionReferralSourceCode_code" type="xs:string" use="required"/>
 <xs:attribute name="lengthOfStayQuantity_unit" type="xs:string" use="required"/>
 <xs:attribute name="lengthOfStayQuantity_value" type="xs:string" use="required"/>
 <xs:attribute name="dischargeDispositionCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="dischargeDispositionCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="dischargeDispositionCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="dischargeDispositionCode_code" type="xs:string" use="required"/>
 <xs:attribute name="preAdmitTestInd_value" type="xs:string" use="required"/>
 <xs:attribute name="specialCourtesiesCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="specialCourtesiesCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="specialCourtesiesCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="specialCourtesiesCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="specialArrangementCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="specialArrangementCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="specialArrangementCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="specialArrangementCode00_code" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="SUBJECT_1_TYPE">
 <xs:sequence>
  <xs:element name="PATIENT_11" type="PATIENT_11_TYPE" minOccurs="0" maxOccurs="unbounded" />
 </xs:sequence>
 <xs:attribute name="dummy" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="PATIENT_11_TYPE">
 <xs:sequence>
  <xs:element name="PATIENTPERSON_111" type="PATIENTPERSON_111_TYPE" minOccurs="0" maxOccurs="unbounded" />
 </xs:sequence>
 <xs:attribute name="id00_assigningAuthorityName" type="xs:string" use="required"/>
 <xs:attribute name="id00_extension" type="xs:string" use="required"/>
 <xs:attribute name="id00_root" type="xs:string" use="required"/>
 <xs:attribute name="addr00_use" type="xs:string" use="required"/>
 <xs:attribute name="addr00_inlineText" type="xs:string" use="required"/>
 <xs:attribute name="addr01_city_in" type="xs:string" use="required"/>
 <xs:attribute name="addr01_state_in" type="xs:string" use="required"/>
 <xs:attribute name="addr01_streetName_in" type="xs:string" use="required"/>
 <xs:attribute name="addr01_use" type="xs:string" use="required"/>
 <xs:attribute name="addr01_country_in" type="xs:string" use="required"/>
 <xs:attribute name="addr01_streetAddressLine_in" type="xs:string" use="required"/>
 <xs:attribute name="addr01_postalCode_in" type="xs:string" use="required"/>
 <xs:attribute name="telecom00_use" type="xs:string" use="required"/>
 <xs:attribute name="telecom00_value" type="xs:string" use="required"/>
 <xs:attribute name="statusCode_code" type="xs:string" use="required"/>
 <xs:attribute name="effectiveTime_value" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="confidentialityCode_code" type="xs:string" use="required"/>
 <xs:attribute name="veryImportantPersonCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="veryImportantPersonCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="veryImportantPersonCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="veryImportantPersonCode_code" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="PATIENTPERSON_111_TYPE">
 <xs:attribute name="determinerCode" type="xs:string" use="required"/>
 <xs:attribute name="id00_assigningAuthorityName" type="xs:string" use="required"/>
 <xs:attribute name="id00_extension" type="xs:string" use="required"/>
 <xs:attribute name="id00_root" type="xs:string" use="required"/>
 <xs:attribute name="name00_suffix" type="xs:string" use="required"/>
 <xs:attribute name="name00_inlineText" type="xs:string" use="required"/>
 <xs:attribute name="name00_use" type="xs:string" use="required"/>
 <xs:attribute name="desc_inlineText" type="xs:string" use="required"/>
 <xs:attribute name="statusCode_code" type="xs:string" use="required"/>
 <xs:attribute name="administrativeGenderCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="administrativeGenderCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="administrativeGenderCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="administrativeGenderCode_code" type="xs:string" use="required"/>
 <xs:attribute name="birthTime_value" type="xs:string" use="required"/>
 <xs:attribute name="deceasedInd_value" type="xs:string" use="required"/>
 <xs:attribute name="deceasedTime_value" type="xs:string" use="required"/>
 <xs:attribute name="multipleBirthInd_value" type="xs:string" use="required"/>
 <xs:attribute name="multipleBirthOrderNumber_value" type="xs:string" use="required"/>
 <xs:attribute name="organDonorInd_value" type="xs:string" use="required"/>
 <xs:attribute name="maritalStatusCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="maritalStatusCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="maritalStatusCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="maritalStatusCode_code" type="xs:string" use="required"/>
 <xs:attribute name="educationLevelCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="educationLevelCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="educationLevelCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="educationLevelCode_code" type="xs:string" use="required"/>
 <xs:attribute name="disabilityCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="disabilityCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="disabilityCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="disabilityCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="livingArrangementCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="livingArrangementCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="livingArrangementCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="livingArrangementCode_code" type="xs:string" use="required"/>
 <xs:attribute name="religiousAffiliationCode_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="religiousAffiliationCode_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="religiousAffiliationCode_displayName" type="xs:string" use="required"/>
 <xs:attribute name="religiousAffiliationCode_code" type="xs:string" use="required"/>
 <xs:attribute name="raceCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="raceCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="raceCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="raceCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="ethnicGroupCode00_codeSystem" type="xs:string" use="required"/>
 <xs:attribute name="ethnicGroupCode00_codeSystemName" type="xs:string" use="required"/>
 <xs:attribute name="ethnicGroupCode00_displayName" type="xs:string" use="required"/>
 <xs:attribute name="ethnicGroupCode00_code" type="xs:string" use="required"/>
 <xs:attribute name="name01_inlineText" type="xs:string" />
 <xs:attribute name="name01_use" type="xs:string" use="required"/>
</xs:complexType>
</xs:schema>
